body {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background-color: #c1c1c1;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #444444;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  .topnav a:hover {
    background-color: #c1c1c1;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }

  .button {
    font-family: 'Bebas Neue', cursive;
    border: none;
    background-color: #444444;
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
  }

  .button:hover {
      background-color: #c1c1c1;
      color: black;
      cursor: pointer;
  }

  .main {
      text-align: center;

  }
  
  p {
    text-align: center;
    font-size: 25px;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav .button {display:none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive button {
      display: block;
      text-align: left;
      width: 100%;
    }
  }